{$APP_DOMAIN:localhost} {
	reverse_proxy /auth* api:3000
	reverse_proxy /invites* api:3000
	reverse_proxy /parties* api:3000
	reverse_proxy /ws* api:3000
	reverse_proxy /health api:3000
	reverse_proxy web:80
}

{$LIVEKIT_DOMAIN:livekit.localhost} {
	reverse_proxy livekit:7880
}
